.muabanxe {
    width: 100%;
    height: 1%;
    overflow: hidden;
    margin: 0 0 3em 0;
}

    /*Cột bên trái*/
    .muabanxe > aside {
    }

        /*Các dịch vụ*/
        .muabanxe > aside > .cacdichvu {
            border: solid 1px rgba(0, 0, 0, .2);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
            padding: 1em;
        }

            .muabanxe > aside > .cacdichvu > .tieude {
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                font-size: 2em;
                margin: 0 0 1em 0;
            }

            /*Dịch vụ*/
            .muabanxe > aside > .cacdichvu > .dichvu {
                text-align: center;
                text-decoration: none;
            }

                .muabanxe > aside > .cacdichvu > .dichvu > img {
                    margin: 0 auto;
                    padding: 0;
                    width: 100%;
                }

                .muabanxe > aside > .cacdichvu > .dichvu > p {
                    margin: 0.5em 0 2em 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.5em;
                    color: rgb(0, 0, 0);
                    transition: all .3s ease-in-out;
                }

                .muabanxe > aside > .cacdichvu > .dichvu:hover > p {
                    color: rgb(198,40,40);
                }

        /*Các tin tưc*/
        .muabanxe > aside > .tintuc {
            margin: 3em 0 0 0;
            border: solid 1px rgba(0, 0, 0, .2);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
            padding: 1em;
        }

            .muabanxe > aside > .tintuc > .tieude {
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                font-size: 2em;
            }

            /*Danh sách tin tức*/
            .muabanxe > aside > .tintuc > .cactintuc {
                padding: 0 2em;
            }

                /*Tin tức*/
                .muabanxe > aside > .tintuc > .cactintuc > li {
                    line-height: 1.7em;
                    text-align: justify;
                    margin: 0 0 1em 0;
                }

                    .muabanxe > aside > .tintuc > .cactintuc > li > a {
                        color: rgb(0, 0, 0);
                    }

    /*Phần trang chính*/
    .muabanxe > article {
    }

        /*Banner*/
        .muabanxe > article > .banner {
        }

            .muabanxe > article > .banner > img {
                margin: 0 auto;
                width: 100%;
            }

        /*Các sản phẩm*/
        .muabanxe > article > .cacsanpham {
            padding: 2em 0 0 0;
            height: 1%;
            overflow: hidden;
        }

            /*Sản phẩm*/
            .muabanxe > article > .cacsanpham > .sanpham {
                padding: 0 0 1.5em 0;
                margin: 0 0 2em 0;
                width: 49%;
                height: 1%;
                overflow: hidden;
                border: solid 1px rgba(0,0,0,.2);
                box-shadow: 3px 3px 5px rgba(0,0,0,.6);
            }

            .muabanxe > article > .cacsanpham > .sp-1 {
                float: left;
            }

            .muabanxe > article > .cacsanpham > .sp-2 {
                float: right;
            }

            /*Ảnh sản phẩm*/
            .muabanxe > article > .cacsanpham > .sanpham > img {
                width: 100%;
            }

            /*Thông tin sản phẩm*/
            .muabanxe > article > .cacsanpham > .sanpham > .thongtin {
                padding: 1em;
            }

                /*Tên xe*/
                .muabanxe > article > .cacsanpham > .sanpham > .thongtin > .ten {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.3em;
                }

                /*Thông tin*/
                .muabanxe > article > .cacsanpham > .sanpham > .thongtin > .text {
                    font-size: 1em;
                }

                /*Giá xe*/
                .muabanxe > article > .cacsanpham > .sanpham > .thongtin > .gia {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: rgb(198,40,40);
                    font-size: 1.3em;
                    float: left;
                }

                /*Nút xem thêm*/
                .muabanxe > article > .cacsanpham > .sanpham > .thongtin > .xemthem {
                    text-transform: uppercase;
                    text-decoration: none;
                    background: rgb(255, 255, 255);
                    color: rgb(198,40,40);
                    font-size: 1em;
                    border: solid 1px rgb(198,40,40);
                    border-radius: 2em;
                    padding: 0.3em 1em;
                    float: right;
                    transition: all .3s ease-in-out;
                }

                    .muabanxe > article > .cacsanpham > .sanpham > .thongtin > .xemthem:hover {
                        background: rgb(198,40,40);
                        color: rgb(255,255,255);
                    }

                    .muabanxe > article > .cacsanpham > .sanpham > .thongtin > .xemthem > i {
                        margin: 0 0 0 0.5em;
                    }

        /*Số trang*/
        .muabanxe > article > nav {
            margin: 2em 0;
        }

            .muabanxe > article > nav > ul {
                width: 20%;
                margin-left: 40%;
            }

                .muabanxe > article > nav > ul > li {
                }

                    .muabanxe > article > nav > ul > li > a {
                        width: 20%;
                        text-align: center;
                    }

/*Giao diện cho màn hình lớn*/
@media (min-width: 1400px) {
}

/*Giao diện cho tablet (ngang)*/
@media (min-width: 992px) and (max-width: 1024px) {
}

/*Giao diện cho tablet (dọc)*/
@media (min-width: 768px) and (max-width: 991px) {
    /*Phần trang chính*/
    .muabanxe > article {
        padding: 0;
    }

        /*Các sản phẩm*/
        .muabanxe > article > .cacsanpham {
            padding: 2em 1em 0 1em;
        }

    /*Cột bên trái*/
    .muabanxe > aside {
        margin: 5em 0 0 0;
    }

        /*Các dịch vụ*/
        .muabanxe > aside > .cacdichvu {
            height: 1%;
            overflow: hidden;
            padding: 0;
        }

            .muabanxe > aside > .cacdichvu > .tieude {
                margin: 0.5em 0;
            }

            /*Dịch vụ*/
            .muabanxe > aside > .cacdichvu > .dichvu {
                display: block;
                float: left;
                width: 46%;
                height: 1%;
                overflow: hidden;
                margin: 0 2%;
            }

                .muabanxe > aside > .cacdichvu > .dichvu > img {
                    border: solid 1px rgba(0, 0, 0, .3);
                }
}

/*Giao diện cho điện thoại*/
@media (max-width: 767px) {
    /*Phần trang chính*/
    .muabanxe > article {
        padding: 0;
    }

        /*Các sản phẩm*/
        .muabanxe > article > .cacsanpham {
            padding: 2em 1em 0 1em;
        }

            /*Sản phẩm*/
            .muabanxe > article > .cacsanpham > .sanpham {
                width: 100%;
            }

                .muabanxe > article > .cacsanpham > .sanpham > .thongtin > .xemthem > i {
                    margin: 0 0 0 0.5em;
                }

        .muabanxe > article > nav > ul {
            width: 40%;
            margin-left: 30%;
        }
}
