/*Trang sửa chữa*/
.suachua {
    width: 100%;
    height: 1%;
    overflow: hidden;
    padding: 3em 0 0 0;
}

    /*Phần bài viết*/
    .suachua > article {
    }

        /*Banner*/
        .suachua > article > .banner {
            display: table;
            width: 100%;
        }

            .suachua > article > .banner > p {
                top: 0;
                width: 100%;
                height: 8em;
                display: table-cell;
                vertical-align: middle;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                font-size: 2.3em;
                color: rgb(255, 255, 255);
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
                background: url(../images/suachua/banner.png) no-repeat;
                background-size: 100%;
            }

        /*Nội dung bài viết*/
        .suachua > article > .noidung {
            padding: 4em 0;
        }

            /*Từng khối*/
            .suachua > article > .noidung > .line {
                height: 1%;
                overflow: hidden;
                margin: 0 0 2em 0;
            }

                /*Ảnh*/
                .suachua > article > .noidung > .line > img {
                    width: 20%;
                }

                .suachua > article > .noidung > .line > .img-1 {
                    float: left;
                }

                .suachua > article > .noidung > .line > .img-2 {
                    float: right;
                }

                /*Phần chữ*/
                .suachua > article > .noidung > .line > .text {
                    font-size: 1.2em;
                    letter-spacing: 1px;
                    width: 80%;
                }

                .suachua > article > .noidung > .line > .text-1 {
                    float: left;
                    padding: 0 0 0 2em;
                }

                .suachua > article > .noidung > .line > .text-2 {
                    float: left;
                    padding: 0 2em 0 0;
                }

                .suachua > article > .noidung > .line > .text > p {
                }

                .suachua > article > .noidung > .line > .text > ul {
                    list-style: square;
                }

                    .suachua > article > .noidung > .line > .text > ul > li {
                    }

            /*Dòng cuối*/
            .suachua > article > .noidung > .end {
                text-align: center;
                font-size: 1.2em;
                letter-spacing: 1px;
            }

                .suachua > article > .noidung > .end > .line-1 {
                }

                    .suachua > article > .noidung > .end > .line-1 > span {
                        color: rgb(198,40,40);
                    }

                .suachua > article > .noidung > .end > .line-2 {
                    text-transform: uppercase;
                }

/*Giao diện cho màn hình lớn*/
@media (min-width: 1400px) {
}

/*Giao diện cho tablet (ngang)*/
@media (min-width: 992px) and (max-width: 1024px) {
}

/*Giao diện cho tablet (dọc)*/
@media (min-width: 768px) and (max-width: 991px) {
    /*Phần bài viết*/
    .suachua > article {
        padding: 0;
    }

        /*Nội dung bài viết*/
        .suachua > article > .noidung {
            padding: 0 1em 4em 1em;
        }

            /*Từng khối*/
            .suachua > article > .noidung > .line {
                height: 1%;
                margin: 0 0 1em 0;
            }

                /*Ảnh*/
                .suachua > article > .noidung > .line > img {
                    width: 30%;
                }

                /*Phần chữ*/
                .suachua > article > .noidung > .line > .text {
                    width: 70%;
                }

                .suachua > article > .noidung > .line > .text-1 {
                    padding: 0 0 0 2em;
                }

            /*Dòng cuối*/
            .suachua > article > .noidung > .end {
                letter-spacing: 0.2px;
            }

    /*Cột bên trái*/
    .suachua > aside {
        margin: 5em 0 0 0;
    }

        /*Các dịch vụ*/
        .suachua > aside > .cacdichvu {
            height: 1%;
            overflow: hidden;
            padding: 0;
        }

            .suachua > aside > .cacdichvu > .tieude {
                margin: 0.5em 0;
            }

            /*Dịch vụ*/
            .suachua > aside > .cacdichvu > .dichvu {
                display: block;
                float: left;
                width: 46%;
                height: 1%;
                overflow: hidden;
                margin: 0 2%;
            }

                .suachua > aside > .cacdichvu > .dichvu > img {
                    border: solid 1px rgba(0, 0, 0, .3);
                }
}

/*Giao diện cho điện thoại*/
@media (max-width: 767px) {
    /*Phần bài viết*/
    .suachua > article {
        padding: 0;
    }

        /*Banner*/
        .suachua > article > .banner {
            display: block;
        }

            .suachua > article > .banner > p {
                width: 100%;
                height: auto;
                display: block;
                font-size: 1.3em;
                color: rgb(0, 0, 0);
                text-shadow: none;
                background: none;
                padding: 1em 0;
            }

        /*Nội dung bài viết*/
        .suachua > article > .noidung {
            padding: 0 1em 4em 1em;
        }

            /*Ảnh*/
            .suachua > article > .noidung > .line > img {
                width: 60%;
                display: block;
                margin: 1em auto;
            }

            .suachua > article > .noidung > .line > .img-1 {
                float: none;
            }

            .suachua > article > .noidung > .line > .img-2 {
                float: none;
            }

            /*Phần chữ*/
            .suachua > article > .noidung > .line > .text {
                width: 100%;
            }

            .suachua > article > .noidung > .line > .text-1 {
                padding: 0;
            }

            .suachua > article > .noidung > .line > .text-2 {
                padding: 0;
            }

            /*Dòng cuối*/
            .suachua > article > .noidung > .end {
                letter-spacing: 0.5px;
            }
}
