
@{
    ViewBag.Title = "Dịch vụ sửa chữa xe hơi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="suachua">
    <!--Phần chính-->
    <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">

        <!--Banner-->
        <div class="banner">
            <p>
                Dịch vụ sửa chữa xe hơi <br />
                Chuyên nghiệp - Uy tín - Hiệu quả
            </p>
        </div>

        <!--Nội dung-->
        <div class="noidung">

            <!--Line-->
            <div class="line">
                <img src="~/Content/images/suachua/baiviet-1.png" alt="" class="img-1 img-responsive" />
                <div class="text text-1">
                    <p>Chúng tôi sửa chữa tất cả những thiết bị chính và phụ ở trong xe, bao gồm các thiết bị như:</p>
                    <ul>
                        <li>Thiết bị điện.</li>
                        <li>Thiết bị thông gió (điều hòa).</li>
                        <li>Phanh.</li>
                        <li>Giảm xóc.</li>
                        <li>Bánh xe.</li>
                        <li>Thiết bị khác.</li>
                    </ul>
                </div>
            </div>

            <!--Line-->
            <div class="line">
                <img src="~/Content/images/suachua/baiviet-2.png" alt="" class="img-2 img-responsive" />
                <div class="text text-2">
                    <p>Chúng tôi thực hiện việc sửa chữa dựa trên lịch trình đề xuất chuẩn của nhà máy một cách hiệu quả chất lượng. Một số dịch vụ của chúng tôi bao gồm:</p>
                    <ul>
                        <li>Chuẩn đoán kỹ thuật.</li>
                        <li>Thay dầu nhớt xe.</li>
                        <li>Dịch vụ truyền dẫn.</li>
                        <li>Làm mát hệ thống.</li>
                    </ul>
                </div>
            </div>

            <div class="end">
                <p class="line-1">Liên hệ ngay Hotline 24/24: <span>091 448 6666 - 098 555 3688</span> đê được tư vấn và hỗ trợ nhanh nhất!</p>
                <p class="line-2">DOANH NGHIỆP TƯ NHÂN MINH HẢI - NIỀM TIN ĐƯỢC DỰNG XÂY TỪ UY TÍN</p>
            </div>
        </div>
    </article>

    <!--Cột bên trái-->
    <aside class="sidebar col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-left">

        <!--Dịch vụ-->
        <div class="cacdichvu">

            <!--Tiêu đề-->
            <p class="tieude">Dịch vụ</p>

            <!--dịch vụ-->
            <a href="@Url.Action("Muabanxe","Home")" class="dichvu">
                <img src="~/Content/images/trangchu/muaxe.png" alt="" class="img-responsive" />

                <!--Tên dịch vụ-->
                <p>Mua bán xe</p>
            </a>

            <!--dịch vụ-->
            <a href="@Url.Action("Phutung","Home")" class="dichvu">
                <img src="~/Content/images/trangchu/phutung.png" alt="" class="img-responsive" />

                <!--Tên dịch vụ-->
                <p>Phụ tùng</p>
            </a>
        </div>

        <!--Tin tức nổi bật-->
        <div class="tintuc">

            <!--Tiêu đề-->
            <p class="tieude">Tin tức nổi bật</p>

            <!--Các tin tức-->
            <ul class="cactintuc">
                <li><a href="#">Làm thế nào để kiểm tra lốp đã thực sự bơm đầy hay chưa?</a></li>
                <li><a href="#">Thay dầu cho xe bao nhiêu lâu thì hợp lý và tiết kiệm?</a></li>
                <li><a href="#">Bộ lọc cabin là gì và bao nhiêu lâu thì nên thay thế?</a></li>
            </ul>
        </div>
    </aside>

</section>