
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="gioithieu" style="width:100%">

    <!--Trang chính-->
    <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">

        <!--Tiêu đề-->
        <p class="tieude">Giới thiệu chung</p>

        <!--Line-->
        <div class="line">

            <!--Phần chữ-->
            <div class="text text-1">

                <!--Tiêu đề-->
                <p class="tieude">Doanh nghiệp tư nhân minh hải</p>

                <!--Nội dung-->
                <div class="noidung">
                    <p><i class="fa fa-map-marker"></i>Địa chỉ: Số 9 An Lạc, Phuờng Sở dầu, Quận Hồng Bàng, Hải Phòng</p>
                    <p><i class="fa fa-phone"></i>091 448 6666 - 098 555 3688 - 0313. 540.888</p>
                    <p><i class="fa fa-fax"></i>0313 540 555</p>
                    <p><i class="fa fa-user"></i>Chủ doanh nghiệp: Đoàn Phước Hải</p>
                </div>
            </div>

            <!--Ảnh bài viết-->
            <img src="~/Content/Front/images/gioithieu/baiviet-1.png" alt="Bài viết" class="img-1 img-responsive" />
        </div>

        <!--Line-->
        <div class="line">

            <!--Phần chữ-->
            <div class="text text-2">
                <!--Nội dung-->
                <div class="noidung">
                    <p>
                        Được thành lập từ năm 2002, Doanh nghiệp tư nhân Minh Hải đã có hơn 14 năm kinh nghiệm trong lĩnh vực sửa chữa ô tô,
                        mua bán và thay thế phụ tùng các dòng xe. Chúng tôi lấy phương châm “Nụ cười của quý khách là sự thành công của chúng tôi”.
                        Vì thế cho nên với sự tận tâm, nhiệt tình và trách nhiệm chúng tôi đảm bảo sẽ khiến cho mọi quý khách hài lòng khi đến với Doanh nghiệp tư nhân Minh Hải.
                    </p>
                </div>
            </div>

            <!--Ảnh bài viết-->
            <img src="~/Content/Front/images/gioithieu/baiviet-2.png" alt="Bài viết" class="img-2 img-responsive" />
        </div>

        <!--Line-->
        <div class="line">

            <!--Phần chữ-->
            <div class="text text-3">

                <!--Nội dung-->
                <div class="noidung">
                    <p>
                        Những dòng xe nổi tiếng quá đắt đỏ, bạn muốn sở hữu một chiếc xe bền bỉ mà giá cả phải chăng?
                        Hãy đến với chúng tôi. Chúng tôi sở hữu trong tay hơn chục dòng xe từ cổ điển đến hiện đại, bền bỉ mà giá cả vô cùng tuyệt vời. <br />
                        Một sự lựa chọn hoàn hảo nữa cho những ai đang có ý định trang hoàng cho xế yêu của mình lên một tầm cao mới,
                        khẳng định bản lĩnh của mình thì cũng thể nào bỏ qua chúng tôi được.
                        Những kỹ sư của chúng tôi hoàn toàn có thể đáp ứng được mọi yêu cầu của quý khách.
                    </p>
                </div>
            </div>

            <!--Ảnh bài viết-->
            <img src="~/Content/Front/images/gioithieu/baiviet-3.png" alt="Bài viết" class="img-3 img-responsive" />
        </div>

        <div class="end">
            <p>DOANH NGHIỆP TƯ NHÂN MINH HẢI - NIỀM TIN ĐẾN TỪ CHỮ TÍN</p>
            <img src="~/Content/Front/images/gioithieu/baiviet-4.png" alt="Bài viết" class="img-responsive" />
        </div>
    </article>

    <!--Cột bên trái-->
    @Html.Partial("_Sidebar")
</section>