<aside class="sidebar col-xs-12 col-xs-12 col-md-3 col-lg-3 pull-left" ng-controller="postHotController">

    <!--Dịch vụ-->
    <div class="cacdichvu">
        @{
            string[] url = Request.Url.ToString().Split('/');
        }
        <!--Tiêu đề-->
        <p class="tieude">Dịch vụ</p>

        @if (url[url.Count() - 1] != "phu-tung-3")
            {
                <!--dịch vụ-->
            <a href="/danh-muc-san-pham/phu-tung-3" class="dichvu">
                <img src="~/Content/Front/images/trangchu/phutung.png" alt="" class="img-responsive" />

                <!--Tên dịch vụ-->
                <p>Phụ tùng</p>
            </a>
        }

        @if (url[url.Count() - 1] != "sua-chua")
            {
                <!--dịch vụ-->
            <a href="/sua-chua" class="dichvu">
                <img src="~/Content/Front/images/trangchu/suachua.png" alt="" class="img-responsive" />

                <!--Tên dịch vụ-->
                <p>Sửa chữa ô tô</p>
            </a>
        }

        @if (url[url.Count() - 1] != "mua-ban-xe-2")
            {
                <!--dịch vụ-->
            <a href="/danh-muc-san-pham/mua-ban-xe-2" class="dichvu">
                <img src="~/Content/Front/images/trangchu/muaxe.png" alt="" class="img-responsive" />

                <!--Tên dịch vụ-->
                <p>Mua bán xe</p>
            </a>
        }
    </div>

    <!--Tin tức nổi bật-->
    <div class="tintuc">

        <!--Tiêu đề-->
        <p class="tieude">Tin tức nổi bật</p>

        <!--Các tin tức-->
        <ul class="cactintuc">
            <li ng-repeat="(index, value) in tinNoiBats"><a href="/bai-viet/{{value.alias}}-{{value.idPost}}">{{value.title}}</a></li>
        </ul>
    </div>
</aside>

